{% import "_includes/forms" as forms %}
{% set users = craft.users.getAllUsers() %}
       {% set label = {"9":"test"} %}
       {% set value = {} %}





{ php: "PHP Mail"|t, sendmail: "Sendmail"|t, smtp: "SMTP"|t, pop: "POP"|t, gmail: "Gmail"|t },

    <div>




        {{ forms.selectField({
            label: "Account API Key"|t,
            id: 'userIdToDuplicate',
            instructions: "Select the user whos dashboard will be mirrored to all other users."|t,
            name: 'userIdToDuplicate',
            options: craft.duplicateUserDashboard.getUsersIdAndName,
            errors: settings.getErrors('userIdToDuplicate'),
            value: settings.userIdToDuplicate
        }) }}



    </div>
