{% import "_includes/forms" as forms %}

    <div>

        {{ forms.selectField({
            label: "Account API Key"|t,
            id: 'userIdToDuplicate',
            instructions: "Select the user whos dashboard will be mirrored to all other users."|t,
            name: 'userIdToDuplicate',
            options: craft.duplicateUserDashboard.getUsersIdAndName,
            errors: settings.getErrors('userIdToDuplicate'),
            value: settings.userIdToDuplicate
        }) }}


    </div>
